
# Exclude specific files
saves/csv/response_patterns_df.csv
saves/pkl/wordle_response_patterns_df.pkl

# Ignore whole folders
**/.git/

# Ignore certain kinds of saved images
saves/png/img_*.png
saves/png/transformed_img_*.png
saves/png/window_*.png

# Exclude Jupyter admin files
**/.ipynb_checkpoints
**/__pycache__/
*-checkpoint.ipynb

# Exclude Desktop Services Store files
**/.DS_Store
saves/pkl/wordle_response_patterns_df.pkl
data/300d/glove.840B.300d.txt
data/50d/glove.6B.50d.txt
saves/pickle/wordle_response_patterns_df.pickle
